.cut-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-link {
  color: var(--bs-body-color);
}

.nav-link.active {
  color: var(--bs-nav-link-color);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Define the starting state for entering and ending state for leaving */
.slide-enter-from,
.slide-leave-to {
  transform: translateX(100vw); /* Starts off-screen to the right */
}

/* Define the active transition state and duration */
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s ease; /* Smooth transition over 0.5s */
}

/* Define the ending state for entering and starting state for leaving (optional, defaults to no transform) */
.slide-enter-to,
.slide-leave-from {
  transform: translateX(0); /* Ends in its final position */
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform 300ms ease-in-out;
}
.slide-left-enter-from {
  transform: translateX(-100%);
}
.slide-left-leave-to {
  transform: translateX(-100%);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 300ms ease-in-out;
}
.slide-right-enter-from {
  transform: translateX(100%);
}
.slide-right-leave-to {
  transform: translateX(100%);
}